开始答题<br>

<div class="form-group">

    <input type="text" class="form-control" id="exampleInputName2" name="user_name" placeholder="请输入姓名">
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>填空题</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range $key, $val := .blankList}}
    <tr>
        <td>{{$val.Title}}</td>
        <td><input type="text" name="{{$val.Id}}" class="form-control"></td>
    </tr>
    {{end}}
    </tbody>
</table>
<table class="table table-striped">
    <thead>
    <tr>
        <th>选择题</th>
        <th>选项</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range $key, $val := .choiceList}}
    <tr>
        <td>{{$val.Title}}</td>
        <td>{{$val.Content}}</td>
        <td>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="A"> A
            </label>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="B"> B
            </label>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="C"> C
            </label>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="D"> D
            </label>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<table class="table table-striped">
    <thead>
    <tr>
        <th>判断题</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range $key, $val := .judgeList}}
    <tr>
        <td>{{$val.Title}}</td>
        <td>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="T"> 正确
            </label>
            <label class="radio-inline">
                <input type="radio" name="{{$val.Id}}"  value="F"> 错误
            </label>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<form class="inline" method="post">
    <input type="hidden" name="records" id="records">
    <button type="submit" class="btn btn-primary">提交</button>
</form>
<script>
    $("form").submit(function(e){
        alert("确认提交");
        var records = "";
        $(":text").each(function(){
            records += $(this).attr("name")+"^"+$(this).val()+";"

        });
        $(":checked").each(function(){
            records += $(this).attr("name")+"^"+$(this).val()+";"

        });
        $("#records").val(records);
    });
</script>